html {
    min-height: 100%;

    body {
        font-family: var(--font_text);
        color: var(--color_text);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font_heading);
    letter-spacing: 0;
}

.rem_link_style {
    text-decoration: none !important;
    color: inherit;

    &:hover {
        color: inherit;
    }

    &:active {
        color: inherit;
    }
}
