::-webkit-scrollbar {
    width: 5px;
    background: #333;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color_primary);
    border-radius: 50px;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: darken(var(--color_primary), 5%);
// }
