//font sizes

// .text_xs {}
// .text_sm {}

//for default body copy font
.text_reg {
  font-size: 26px;
  line-height: 1.5;
  @include xxxl-down {
    font-size: 22px;
  }
  @include sm-down {
    font-size: 16px;
  }
}

// .text_md {}
// .text_lg {}
// .text_xl {}
// .text_xxl {}
// .text_xxxl {}
// .text_xxxxl {}

// //each loop for creating font weights ->
// //.text_100, .text_200 .....
// $sizes: 100, 200, 300, 400, 500, 600, 700, 800, 900;

// @each $size in $sizes {
//   .text_#{$size} {
//     font-weight: $size;
//   }
// }
